.classpath
.settings/
.project
target
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/deploy/
src/main/webapp/template/
.project
template.launch
templateTest-dev.launch
templateTest-prod.launch
